@mixin Border($color, $margin) {
    border: $color solid $margin;
}

$size: 30px;
$ratio: 1.2;

#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    #pomodoro-clock {
        @include Border(red, 2px);
        height: 100vh;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;

        section.row {
            margin-bottom: 30px;
        }

        .button {
            border-radius: 50%;
            position: relative;
            width: 20px;
            height: 20px;
            padding: 0px;
            margin: 10px;
            cursor: pointer;
        }

        .increment {
            // horizontal line
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                top: 50%;
                left: 2.5px;
                right: 2.5px;
                width: 15px;
                height: 2px;
                margin-top: -1px;
            }

            // vertical line
            &::after {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                height: 15px;
                top: 2.5px;
                width: 2px;
                left: 50%;
                margin-left: -1px;
            }
        }

        .decrement {
            // horizontal line
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                top: 50%;
                left: 2.5px;
                right: 2.5px;
                width: 15px;
                height: 2px;
                margin-top: -1px;
            }
        }

        #break > section, #session > section {
            display: flex;
            justify-content: center;
        }

        #time-stamp {
            max-width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            @include Border(2px, navy);
            border-radius: 30px;

            #time-left {
                font-size: 50px;
            }
        }

        #terminator {
            @include Border(2px, navy);
            max-width: 200px;

            #start_stop {
                position: relative;
                box-sizing: border-box;
                width: 0;
                height: 0;
                border-top: $size solid transparent;
                border-bottom: $size solid transparent;
                border-left: ($size * $ratio) solid #2c3e50;
            }
        }
    }
}