@mixin Border($color, $margin) {
    border: $color solid $margin;
}

$size: 30px;
$ratio: 1.2;

$background: #f9f9f9;
$foreground: #2c3e50;

$transition-time: 0.8;

#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    #pomodoro-clock {
        @include Border(red, 2px);
        height: 100vh;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;

        section.row {
            margin-bottom: 30px;
        }

        .button {
            border-radius: 50%;
            position: relative;
            width: 20px;
            height: 20px;
            padding: 0px;
            margin: 10px;
            cursor: pointer;
        }

        .increment {
            // horizontal line
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                top: 50%;
                left: 2.5px;
                right: 2.5px;
                width: 15px;
                height: 2px;
                margin-top: -1px;
            }

            // vertical line
            &::after {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                height: 15px;
                top: 2.5px;
                width: 2px;
                left: 50%;
                margin-left: -1px;
            }
        }

        .decrement {
            // horizontal line
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
                top: 50%;
                left: 2.5px;
                right: 2.5px;
                width: 15px;
                height: 2px;
                margin-top: -1px;
            }
        }

        #break > section, #session > section {
            display: flex;
            justify-content: center;
        }

        #time-stamp {
            max-width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            @include Border(2px, navy);
            border-radius: 30px;

            #time-left {
                font-size: 50px;
            }
        }

        #terminator {
            @include Border(2px, navy);
            max-width: 400px;
            min-height: 100px;

            #start_stop {
                display: block;
                position: relative;
                cursor: pointer;
                width: 0;
                height: 0;
                border-top: $size solid transparent;
                border-bottom: $size solid transparent;
                border-left: ($size * $ratio) solid $foreground;
                margin: ($size * 1.5) auto $size;
                z-index: 1;
                transition: all $transition-time;
                -webkit-transition: all $transition-time;
                -moz-transition: all $transition-time;
                left: ($size * 0.2);

                &:before {
                    content: "";
                    position: absolute;
                    top: ($size * -1.5);
                    left: ($size * -2.2);
                    bottom: ($size * -1.5);
                    right: ($size * 0.3);
                    border-radius: 50%;
                    border: ($size * 0.2) solid $foreground;
                    z-index: 2;
                    transition: all $transition-time;
                    -webkit-transition: all $transition-time;
                    -moz-transition: all $transition-time;
                }
                &:after {
                    content: "";
                    opacity: 0;
                    transition: opacity ($transition-time * 2);
                    -webkit-transition: opacity ($transition-time * 2);
                    -moz-transition: opacity ($transition-time * 2);
                }

                &:hover, &:focus {
                    &:before {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        box-shadow: 9px 10px 7px -5px #21183F;
                    }
                }

                &.active {
                    border-color: transparent;
                    &:after {
                        content: '';
                        opacity: 1;
                        width: ($size);
                        height: ($size * 1.6);
                        background: $foreground;
                        position: absolute;
                        right: ($size * 0.1);
                        top: ($size * -0.8);
                        border-left: ($size * 0.4) solid $foreground;
                        box-shadow: inset ($size * 0.6) 0 0 0 $background;
                    }
                }
            }
        }
    }
}