@mixin Border($color, $margin) {
    border: $color solid $margin;
}

#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    #pomodoro-clock {
        @include Border(red, 2px);

        .button {
            border-radius: 10px;
            background-color: rgb(61, 61, 72);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                background-color: white;
            }
        }
    }
}